<h1>Welcome, <%= current_user.email %></h1>


<% if current_user.two_factor_enabled? %>
  <p>Two-Factor Authentication is Enabled</p>

  <form action="/2fa/disable" method="post">
    <label for="disable_2fa">Disable Two-Factor Authentication</label>
    <input type="checkbox" name="disable_2fa">
    <input type="submit" value="Save">
  </form>
<% else %>
  <a href="/2fa/setup">Enable Two-Factor Authentication</a>
<% end %>
